{
    "root": true,
    "ignorePatterns": [
        "**/*"
    ],
    "plugins": [],
    "overrides": [
        {
            "files": [
                "*.ts",
                "*.tsx",
                "*.js",
                "*.jsx"
            ],
            "rules": {
                "@typescript-eslint/interface-name-prefix": "off",
                "@typescript-eslint/explicit-function-return-type": "off",
                "@typescript-eslint/explicit-module-boundary-types": "off",
                "@typescript-eslint/no-explicit-any": "off",
                "no-duplicate-imports": "error",
                "no-self-compare": "error",
                "no-template-curly-in-string": "error",
                "arrow-body-style": [
                    "error",
                    "as-needed"
                ],
                "block-scoped-var": "error",
                "curly": [
                    "error",
                    "all"
                ],
                "default-param-last": "error",
                "eqeqeq": "error",
                "func-style": [
                    "error",
                    "declaration",
                    {
                        "allowArrowFunctions": true
                    }
                ],
                "no-confusing-arrow": "error",
                "no-console": "warn",
                "no-else-return": "error",
                "no-useless-computed-key": "error",
                "no-var": "error",
                "prefer-arrow-callback": "error",
                "prefer-const": "error",
                "prefer-template": "error",
                "yoda": [
                    "error",
                    "never",
                    {
                        "exceptRange": true
                    }
                ],
                "array-bracket-spacing": [
                    "error",
                    "never"
                ],
                "arrow-parens": "error",
                "arrow-spacing": "error",
                "block-spacing": "error",
                "brace-style": "error",
                "comma-dangle": [
                    "error",
                    "always-multiline"
                ],
                "comma-spacing": "error",
                "computed-property-spacing": "error",
                "eol-last": "error",
                "func-call-spacing": "error",
                "jsx-quotes": [
                    "error",
                    "prefer-single"
                ],
                "key-spacing": "error",
                "keyword-spacing": "error",
                "linebreak-style": "error",
                "lines-between-class-members": "error",
                "max-len": [
                    "error",
                    {
                        "code": 100
                    }
                ],
                "new-parens": "error",
                "newline-per-chained-call": [
                    "error",
                    {
                        "ignoreChainWithDepth": 4
                    }
                ],
                "no-multi-spaces": "error",
                "no-multiple-empty-lines": "error",
                "no-trailing-spaces": "error",
                "no-whitespace-before-property": "error",
                "object-curly-spacing": [
                    "error",
                    "always"
                ],
                "quotes": [
                    "error",
                    "single"
                ],
                "semi": [
                    "error",
                    "never"
                ],
                "switch-colon-spacing": "error",
                "template-curly-spacing": "error"
            }
        },
        {
            "files": [
                "*.ts",
                "*.tsx"
            ],
            "extends": [],
            "rules": {}
        },
        {
            "files": [
                "*.js",
                "*.jsx"
            ],
            "extends": [],
            "rules": {}
        }
    ]
}
